.form {
  padding: 32px;
  border-radius: 36px;
  background: var(--color-background-secondary);
  display: grid;
  gap: 18px;
}

.input,
.textarea {
  width: 100%;
  padding: 16px 18px;
  border-radius: 18px;
  background-color: var(--color-fill-2);
  border: 1px solid var(--color-fill-3);
  color: var(--color-text-primary);
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.textarea {
  resize: vertical;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  justify-self: end;

  padding: 10px 20px;

  border: none;
  border-radius: 999px;

  background-color: var(--color-accent-brand);
  color: var(--color-text-accent-brand);

  font-size: 18px;
  font-weight: 500;

  cursor: pointer;
  transition: transform 0.15s ease-in-out;
}

.button:hover {
  transform: scale(1.03);
}

.button:active {
  transform: scale(0.97);
}
