.infoGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 0;
}

.infoItem {
  width: 132px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px 14px;
  border: 1px solid var(--color-fill-3);
  border-radius: 20px;
}

.infoLabel {
  font-size: 12px;
  color: var(--color-text-secondary);
}

.infoValue {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-text-primary);
}

.infoNote {
  margin: 0;
  font-size: 12px;
  color: var(--color-text-secondary);
}
